Repository Slimefun/Slimefun4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Slimefun/code-reviewers, @Slimefun/slimefun4-maintainers, @Slimefun/bug-testers, @Slimefun/wiki-staff, @TheBusyBiscuit

.github/CODEOWNERS:

# Modifications to the source code should be handled by the code review team
*.java                             @Slimefun/code-reviewers

# Modifications to sensitive files should be reviewed by maintainers
/.github/                          @Slimefun/slimefun4-maintainers
pom.xml                            @Slimefun/slimefun4-maintainers
CONTRIBUTING.md                    @Slimefun/slimefun4-maintainers

# Changes to the Issue templates need to be checked by the triage team
/.github/ISSUE_TEMPLATE/           @Slimefun/bug-testers

# Our wiki lookup file will be reviewed by the wiki staff team
/src/main/resources/wiki.json      @Slimefun/wiki-staff

# This file is handled by TheBusyBiscuit (admins have overwrite access anyway)
/.github/CODEOWNERS                @TheBusyBiscuit

Bump to Spigot 1.18.1
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

refactor(pedestal): use for-loop instead of forEach
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/tasks/AncientPedestalTask.java
Owners: @Slimefun/code-reviewers

chore: fix typo
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/tasks/AncientAltarTask.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/tasks/AncientPedestalTask.java
Owners: @Slimefun/code-reviewers

chore: remove redundant optional get
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/altar/AncientPedestal.java
Owners: @Slimefun/code-reviewers

Update dependency com.sk89q.worldedit:worldedit-bukkit to v7.2.8
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update dependency com.sk89q.worldedit:worldedit-core to v7.2.8
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Do requested changes
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/ElectricGoldPan.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/AutomatedPanningMachine.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/tools/GoldPan.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/tools/NetherGoldPan.java
Owners: @Slimefun/code-reviewers

Apply suggestions from code review
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/ElectricGoldPan.java
Owners: @Slimefun/code-reviewers

Rewrote Hologram Toggler
  src/main/java/io/github/thebusybiscuit/slimefun4/core/attributes/HologramOwner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/services/holograms/HologramsService.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/SlimefunItems.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/cargo/CargoManager.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/EnergyRegulator.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/reactors/Reactor.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/geo/GEOMiner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/tools/HologramToggler.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/ResearchSetup.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
Owners: @Slimefun/code-reviewers

Update dependency com.github.LoneDev6:itemsadder-api to v2.5.0
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update dependency org.mockito:mockito-core to v4.2.0
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update dough dependency
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Run workflows on JDK 16 (Project still targets Java 8)
  .github/workflows/discord-webhook.yml
  .github/workflows/maven-compiler.yml
  .github/workflows/sonarcloud.yml
Owners: @Slimefun/slimefun4-maintainers

Encourage Java 17 (not required)
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/StartupWarnings.java
Owners: @Slimefun/code-reviewers

Update dependency io.github.baked-libs:dough-api to v1.1.0
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Updated dough to 1.1.1
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update dependency io.github.baked-libs:dough-api to v1.1.1
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update dependency com.gmail.nossr50.mcMMO:mcMMO to v2.1.206
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Improved the API for BiomeMap
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMap.java
Owners: @Slimefun/code-reviewers

[CI skip] Add jitpack configuration
  jitpack.yml
Owners: none

Remove SF only method
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/AbstractResource.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMap.java
Owners: @Slimefun/code-reviewers

Oops
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMap.java
Owners: @Slimefun/code-reviewers

Add lanterns
  src/main/resources/tags/sensitive_materials.json
Owners: none

New translations messages.yml (German)
  src/main/resources/languages/de/messages.yml
Owners: none

Moved double drops to helper method
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/TalismanListener.java
Owners: @Slimefun/code-reviewers

Bleh
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/TalismanListener.java
Owners: @Slimefun/code-reviewers

Update dependency me.clip:placeholderapi to v2.11.0
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

this is probably unintended?
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/armor/Parachute.java
Owners: @Slimefun/code-reviewers

[CI skip] Fixed Unit Test
  CHANGELOG.md
  README.md
  src/test/java/io/github/thebusybiscuit/slimefun4/core/services/localization/TestSlimefunSpelling.java
Owners: @Slimefun/code-reviewers

Update actions/setup-java action to v2.5.0
  .github/workflows/discord-webhook.yml
  .github/workflows/maven-compiler.yml
  .github/workflows/sonarcloud.yml
Owners: @Slimefun/slimefun4-maintainers

refactor(pedestal): resolve suggestion
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/altar/AncientPedestal.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/AncientAltarListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/tasks/AncientAltarTask.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/tasks/AncientPedestalTask.java
Owners: @Slimefun/code-reviewers

New translations messages.yml (Hungarian)
  src/main/resources/languages/hu/messages.yml
Owners: none

New translations researches.yml (Hungarian)
  src/main/resources/languages/hu/researches.yml
Owners: none

New translations messages.yml (French)
  src/main/resources/languages/fr/messages.yml
Owners: none

New translations researches.yml (French)
  src/main/resources/languages/fr/researches.yml
Owners: none

New translations researches.yml (Chinese Simplified)
  src/main/resources/languages/zh-CN/researches.yml
Owners: none

check for meta even if ids match
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/SlimefunUtils.java
Owners: @Slimefun/code-reviewers

DistinctiveItem/isSimilar + Backpack isSame
  src/main/java/io/github/thebusybiscuit/slimefun4/core/attributes/DistinctiveItem.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/backpacks/SlimefunBackpack.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/SlimefunUtils.java
Owners: @Slimefun/code-reviewers

New translations messages.yml (Tagalog)
  src/main/resources/languages/tl/messages.yml
Owners: none

Update dependency com.github.seeseemelk:MockBukkit-v1.18 to v1.15.0
  pom.xml
Owners: @Slimefun/slimefun4-maintainers
