Repository Slimefun/Slimefun4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Slimefun/code-reviewers, @Slimefun/slimefun4-maintainers, @Slimefun/bug-testers, @Slimefun/wiki-staff, @TheBusyBiscuit

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/FireStaff.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/FireStaff.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/FireStaff.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/FireStaff.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/FireStaff.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/FireStaff.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/FireStaff.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/FireStaff.java
Owners: @Slimefun/code-reviewers

[CI skip] Some unit test changes
  src/main/java/io/github/thebusybiscuit/slimefun4/api/MinecraftVersion.java
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/TestMinecraftVersion.java
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/TestWikiResource.java
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/biomes/TestBiomeMapCompatibility.java
Owners: @Slimefun/code-reviewers

New translations messages.yml (Chinese Simplified)
  src/main/resources/languages/zh-CN/messages.yml
Owners: none

test-1
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/FireStaff.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/StormStaff.java
  src/main/resources/config.yml
Owners: @Slimefun/code-reviewers

Update dependency net.imprex:orebfuscator-api to v5.2.3
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

New translations messages.yml (Chinese Simplified)
  src/main/resources/languages/zh-CN/messages.yml
Owners: none

New translations recipes.yml (Chinese Simplified)
  src/main/resources/languages/zh-CN/recipes.yml
Owners: none

New translations researches.yml (Chinese Simplified)
  src/main/resources/languages/zh-CN/researches.yml
Owners: none

New translations resources.yml (Chinese Simplified)
  src/main/resources/languages/zh-CN/resources.yml
Owners: none

[CI skip] Updated README
  README.md
Owners: none

Update dependency com.konghq:unirest-java to v3.13.6
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update dependency net.imprex:orebfuscator-api to v5.2.4
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Fixes 3396
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/StormStaff.java
Owners: @Slimefun/code-reviewers

Refer StormStaff damage event to caster
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/StormStaff.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/entity/StormStaffLightningListener.java
Owners: @Slimefun/code-reviewers

Added/corrected docs
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/StormStaff.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/entity/StormStaffLightningListener.java
Owners: @Slimefun/code-reviewers

More docs corrections, removed unused imports
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/entity/StormStaffLightningListener.java
Owners: @Slimefun/code-reviewers

Import ordering...
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
Owners: @Slimefun/code-reviewers

Import ordering! :cry:
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/StormStaff.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/entity/StormStaffLightningListener.java
Owners: @Slimefun/code-reviewers

Requested changes
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/StormStaff.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/entity/StormStaffLightningListener.java
Owners: @Slimefun/code-reviewers

Testing is important
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/StormStaff.java
Owners: @Slimefun/code-reviewers

Update dependency com.gmail.nossr50.mcMMO:mcMMO to v2.1.208
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update dependency org.apache.maven.plugins:maven-compiler-plugin to v3.9.0
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Updated
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/CargoUtils.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/ItemFilter.java
Owners: @Slimefun/code-reviewers

ExposedStorage
  src/main/java/io/github/thebusybiscuit/slimefun4/core/attributes/ExposedStorage.java
Owners: @Slimefun/code-reviewers

Switch to sfItem.isItem()
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/MiddleClickListener.java
Owners: @Slimefun/code-reviewers

Apply suggestions from code review
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/HiddenItem.java
Owners: @Slimefun/code-reviewers

Update dependency com.github.LoneDev6:itemsadder-api to v2.5.4
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Made BiomeMapParser public
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMapParser.java
Owners: @Slimefun/code-reviewers

New translations messages.yml (Chinese Traditional)
  src/main/resources/languages/zh-TW/messages.yml
Owners: none

New translations researches.yml (Chinese Traditional)
  src/main/resources/languages/zh-TW/researches.yml
Owners: none

New translations messages.yml (Italian)
  src/main/resources/languages/it/messages.yml
Owners: none

New translations messages.yml (Hebrew)
  src/main/resources/languages/he/messages.yml
Owners: none

New translations researches.yml (Hebrew)
  src/main/resources/languages/he/researches.yml
Owners: none

New translations messages.yml (Hungarian)
  src/main/resources/languages/hu/messages.yml
Owners: none

New translations recipes.yml (Italian)
  src/main/resources/languages/it/recipes.yml
Owners: none

New translations researches.yml (Italian)
  src/main/resources/languages/it/researches.yml
Owners: none

New translations researches.yml (Dutch)
  src/main/resources/languages/nl/researches.yml
Owners: none

.github/CODEOWNERS:

# Modifications to the source code should be handled by the code review team
*.java                             @Slimefun/code-reviewers

# Modifications to sensitive files should be reviewed by maintainers
/.github/                          @Slimefun/slimefun4-maintainers
pom.xml                            @Slimefun/slimefun4-maintainers
CONTRIBUTING.md                    @Slimefun/slimefun4-maintainers

# Changes to the Issue templates need to be checked by the triage team
/.github/ISSUE_TEMPLATE/           @Slimefun/bug-testers

# Our wiki lookup file will be reviewed by the wiki staff team
/src/main/resources/wiki.json      @Slimefun/wiki-staff

# This file is handled by TheBusyBiscuit (admins have overwrite access anyway)
/.github/CODEOWNERS                @TheBusyBiscuit
