Repository Slimefun/Slimefun4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Slimefun/code-reviewers, @Slimefun/slimefun4-maintainers, @Slimefun/bug-testers, @Slimefun/wiki-staff, @TheBusyBiscuit

Trigger telekinesis on entity kill
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/TalismanListener.java
Owners: @Slimefun/code-reviewers

Create and use TableSaw event
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/TableSawUsedEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/TableSaw.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/TalismanListener.java
Owners: @Slimefun/code-reviewers

Add comments
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/TableSawUsedEvent.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/altar/AncientPedestal.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/altar/AncientPedestal.java
Owners: @Slimefun/code-reviewers

Update dependency com.gmail.nossr50.mcMMO:mcMMO to v2.1.202
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Fixed translation grammar & color bug
  src/main/resources/languages/cs/messages.yml
Owners: none

Initial work - VERY WIP
  pom.xml
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/DataObject.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/Storage.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/Test.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/Transformer.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/UuidTransformer.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/BinaryStorage.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/LegacyStorage.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/BinaryWriter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/BooleanType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/ByteArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/ByteType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/DataObjectType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/DoubleArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/DoubleType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/FloatArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/FloatType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/IntArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/IntType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/LongArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/LongType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/ShortArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/ShortType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/StringArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/StringType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/Type.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/TypeEnum.java
Owners: @Slimefun/slimefun4-maintainers, @Slimefun/code-reviewers

PoC
  pom.xml
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/DataObject.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/Storage.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/Test.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/Transformer.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/UuidTransformer.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/BinaryStorage.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/BinaryWriter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/ByteType.java
  test.dat
Owners: @Slimefun/slimefun4-maintainers, @Slimefun/code-reviewers

remove test datag
  test.dat
Owners: none

DataObject docs part 1
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/DataObject.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/UuidTransformer.java
Owners: @Slimefun/code-reviewers

DataObject docs part 2 + typos
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/DataObject.java
Owners: @Slimefun/code-reviewers

Added farmer talisman
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/SlimefunItems.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/TalismanListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/ResearchSetup.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/tags/SlimefunTag.java
  src/main/resources/tags/farmer_talisman_triggers.json
Owners: @Slimefun/code-reviewers

Added talisman message
  src/main/resources/languages/en/messages.yml
Owners: none

Added author
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/TalismanListener.java
  src/main/resources/tags/farmer_talisman_triggers.json
Owners: @Slimefun/code-reviewers

Removed warts, not exactly a crop so feels weird
  src/main/resources/tags/farmer_talisman_triggers.json
Owners: none

Some more work
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/DataObject.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/Test.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/BinaryReader.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/BinaryUtils.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/BinaryWriter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/transformer/Transformer.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/transformer/UuidTransformer.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/TypeEnum.java
  test.dat
Owners: @Slimefun/code-reviewers

Improve Right Click in Cheat Menu On right click it will check if the user is holding shift, if so it will give a full stack.
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/guide/SurvivalSlimefunGuide.java
Owners: @Slimefun/code-reviewers

Use correct if
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/guide/SurvivalSlimefunGuide.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/guide/SurvivalSlimefunGuide.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/guide/SurvivalSlimefunGuide.java
Owners: @Slimefun/code-reviewers

Fix logic
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/guide/SurvivalSlimefunGuide.java
Owners: @Slimefun/code-reviewers

Return night energy in other dimensions
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/generators/SolarGenerator.java
Owners: @Slimefun/code-reviewers

Added research message
  src/main/resources/languages/en/researches.yml
Owners: none

Removed unnecesary runSync() calls
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/food/Juice.java
Owners: @Slimefun/code-reviewers

Added remove and keys methods
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/DataObject.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/TalismanListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/TalismanListener.java
Owners: @Slimefun/code-reviewers

Removed comments related directly to miner talisman
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/TalismanListener.java
Owners: @Slimefun/code-reviewers

Restored and removed the correct comments
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/TalismanListener.java
Owners: @Slimefun/code-reviewers

Initial tryout
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BlockListener.java
Owners: @Slimefun/code-reviewers

Implement the ability for debug logging
  src/main/java/io/github/thebusybiscuit/slimefun4/core/commands/subcommands/DebugCommand.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/commands/subcommands/SlimefunSubCommands.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/Debug.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/TestMode.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/CargoUtils.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/ItemFilter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/SlimefunUtils.java
  src/main/resources/languages/en/messages.yml
Owners: @Slimefun/code-reviewers

Implement feature
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BlockListener.java
Owners: @Slimefun/code-reviewers

Clone item
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BlockListener.java
Owners: @Slimefun/code-reviewers

Typos
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BlockListener.java
Owners: @Slimefun/code-reviewers

Documented types and storage
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/Storage.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/BooleanType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/ByteArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/ByteType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/DataObjectType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/DoubleArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/DoubleType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/FloatArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/FloatType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/IntArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/IntType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/LongArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/LongType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/ShortArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/ShortType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/StringArrayType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/StringType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/Type.java
Owners: @Slimefun/code-reviewers

rename blockData to blockId
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BlockListener.java
Owners: @Slimefun/code-reviewers

Clean up if
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BlockListener.java
Owners: @Slimefun/code-reviewers

Update dependency org.mockito:mockito-core to v4
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Fix bug
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/Debug.java
Owners: @Slimefun/code-reviewers

Another log
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/SlimefunUtils.java
Owners: @Slimefun/code-reviewers

da hecl
  src/main/resources/languages/en/messages.yml
Owners: none

chore: optimize imports
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/altar/AncientPedestal.java
Owners: @Slimefun/code-reviewers

.github/CODEOWNERS:

# Modifications to the source code should be handled by the code review team
*.java                             @Slimefun/code-reviewers

# Modifications to sensitive files should be reviewed by maintainers
/.github/                          @Slimefun/slimefun4-maintainers
pom.xml                            @Slimefun/slimefun4-maintainers
CONTRIBUTING.md                    @Slimefun/slimefun4-maintainers

# Changes to the Issue templates need to be checked by the triage team
/.github/ISSUE_TEMPLATE/           @Slimefun/bug-testers

# Our wiki lookup file will be reviewed by the wiki staff team
/src/main/resources/wiki.json      @Slimefun/wiki-staff

# This file is handled by TheBusyBiscuit (admins have overwrite access anyway)
/.github/CODEOWNERS                @TheBusyBiscuit
