Repository Slimefun/Slimefun4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Slimefun/code-reviewers, @Slimefun/slimefun4-maintainers, @Slimefun/bug-testers, @Slimefun/wiki-staff, @TheBusyBiscuit

[CI skip] New locale updates from Crowdin
  src/main/resources/languages/ar/messages.yml
  src/main/resources/languages/bg/messages.yml
  src/main/resources/languages/cs/messages.yml
  src/main/resources/languages/de/messages.yml
  src/main/resources/languages/es/messages.yml
  src/main/resources/languages/fr/messages.yml
  src/main/resources/languages/fr/researches.yml
  src/main/resources/languages/he/messages.yml
  src/main/resources/languages/he/researches.yml
  src/main/resources/languages/hu/messages.yml
  src/main/resources/languages/hu/researches.yml
  src/main/resources/languages/id/messages.yml
  src/main/resources/languages/it/messages.yml
  src/main/resources/languages/it/recipes.yml
  src/main/resources/languages/it/researches.yml
  src/main/resources/languages/ja/messages.yml
  src/main/resources/languages/ko/messages.yml
  src/main/resources/languages/nl/messages.yml
  src/main/resources/languages/nl/researches.yml
  src/main/resources/languages/pl/messages.yml
  src/main/resources/languages/pt-BR/messages.yml
  src/main/resources/languages/ru/messages.yml
  src/main/resources/languages/sk/messages.yml
  src/main/resources/languages/sv/messages.yml
  src/main/resources/languages/tl/messages.yml
  src/main/resources/languages/tr/messages.yml
  src/main/resources/languages/vi/messages.yml
  src/main/resources/languages/zh-CN/messages.yml
  src/main/resources/languages/zh-CN/recipes.yml
  src/main/resources/languages/zh-CN/researches.yml
  src/main/resources/languages/zh-CN/resources.yml
  src/main/resources/languages/zh-TW/messages.yml
  src/main/resources/languages/zh-TW/researches.yml
Owners: none

Fix multi-line comment
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/MiddleClickListener.java
Owners: @Slimefun/code-reviewers

[CI skip] Updated changelog
  CHANGELOG.md
Owners: none

[CI skip] Fixed javadocs
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/talismans/Talisman.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/settings/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/PatternUtils.java
Owners: @Slimefun/code-reviewers

Do changes
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/AndroidMineEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/androids/MinerAndroid.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/MiningAndroidListener.java
Owners: @Slimefun/code-reviewers

Add ParamsAreNonNullByDefault
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/MiddleClickListener.java
Owners: @Slimefun/code-reviewers

Fix changelog
  CHANGELOG.md
Owners: none

Resolve merge conflict
  CHANGELOG.md
Owners: none

Argh, missed imports
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/AndroidMineEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/MiningTask.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/HiddenItem.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/HiddenItem.java
Owners: @Slimefun/code-reviewers

Update HiddenItem.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/HiddenItem.java
Owners: @Slimefun/code-reviewers

Update HiddenItem.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/HiddenItem.java
Owners: @Slimefun/code-reviewers

New translations messages.yml (Korean)
  src/main/resources/languages/ko/messages.yml
Owners: none

[CI skip] New locale updates from Crowdin
  src/main/resources/languages/ko/messages.yml
Owners: none

chore(pedestal): use future instead
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/tasks/AncientPedestalTask.java
Owners: @Slimefun/code-reviewers

Update dependency com.github.LoneDev6:itemsadder-api to v2.5.5
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Added Distinctive check to other arms
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/SlimefunUtils.java
Owners: @Slimefun/code-reviewers

Move the thingy
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/MiningAndroidListener.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/core/attributes/DistinctiveItem.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/attributes/DistinctiveItem.java
Owners: @Slimefun/code-reviewers

Walshy feedback
  src/main/java/io/github/thebusybiscuit/slimefun4/core/attributes/DistinctiveItem.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/backpacks/SlimefunBackpack.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/SlimefunUtils.java
Owners: @Slimefun/code-reviewers

refactor(pedestal): add timeout for future
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/tasks/AncientPedestalTask.java
Owners: @Slimefun/code-reviewers

Add MultiBlockCraftEvent
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/MultiBlockCraftEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/ArmorForge.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/AutomatedPanningMachine.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/Compressor.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/EnhancedCraftingTable.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/GrindStone.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/Juicer.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/MagicWorkbench.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/MakeshiftSmeltery.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/OreCrusher.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/OreWasher.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/PressureChamber.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/Smeltery.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/TableSaw.java
Owners: @Slimefun/code-reviewers

.github/CODEOWNERS:

# Modifications to the source code should be handled by the code review team
*.java                             @Slimefun/code-reviewers

# Modifications to sensitive files should be reviewed by maintainers
/.github/                          @Slimefun/slimefun4-maintainers
pom.xml                            @Slimefun/slimefun4-maintainers
CONTRIBUTING.md                    @Slimefun/slimefun4-maintainers

# Changes to the Issue templates need to be checked by the triage team
/.github/ISSUE_TEMPLATE/           @Slimefun/bug-testers

# Our wiki lookup file will be reviewed by the wiki staff team
/src/main/resources/wiki.json      @Slimefun/wiki-staff

# This file is handled by TheBusyBiscuit (admins have overwrite access anyway)
/.github/CODEOWNERS                @TheBusyBiscuit
