Repository Slimefun/Slimefun4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Slimefun/code-reviewers, @Slimefun/slimefun4-maintainers, @Slimefun/bug-testers, @Slimefun/wiki-staff, @TheBusyBiscuit

Update dependency org.junit.jupiter:junit-jupiter to v5.8.2
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update actions/setup-java action to v2.4.0
  .github/workflows/discord-webhook.yml
  .github/workflows/maven-compiler.yml
  .github/workflows/sonarcloud.yml
Owners: @Slimefun/slimefun4-maintainers

register filled flask of knowledge and add respective RecipeType
  src/main/java/io/github/thebusybiscuit/slimefun4/api/recipes/RecipeType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
Owners: @Slimefun/code-reviewers

Refactored Industrial Miner ore handling
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/AdvancedIndustrialMiner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/IndustrialMiner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/OreDictionary.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/OreDictionary14.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/OreDictionary16.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/OreDictionary17.java
Owners: @Slimefun/code-reviewers

Add Hologram Controller
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/CargoNet.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/energy/EnergyNet.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/SlimefunItems.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/tools/HologramController.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/ResearchSetup.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
Owners: @Slimefun/code-reviewers

Fixed #3336
  CHANGELOG.md
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/IndustrialMiner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/MiningTask.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/OreDictionary.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/OreDictionary14.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/OreDictionary16.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/OreDictionary17.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/SlimefunUtils.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/WorldUtils.java
Owners: @Slimefun/code-reviewers

Added support for toggling reactor and geo miner holograms
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/reactors/Reactor.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/geo/GEOMiner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/tools/HologramController.java
Owners: @Slimefun/code-reviewers

Clean up imports
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/tools/HologramController.java
Owners: @Slimefun/code-reviewers

Add a doc comment to HologramController.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/tools/HologramController.java
Owners: @Slimefun/code-reviewers

Revert "Fix indus miner"
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/IndustrialMiner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/MiningTask.java
Owners: @Slimefun/code-reviewers

Undo indus miner changes
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/IndustrialMiner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/MiningTask.java
Owners: @Slimefun/code-reviewers

(Hopefully) improve performance
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/AndroidMineEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/androids/MinerAndroid.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/MiningAndroidListener.java
Owners: @Slimefun/code-reviewers

make filled flask nonconfigurable
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/FilledKnowledgeFlask.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
Owners: @Slimefun/code-reviewers

documentation sure
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/FilledKnowledgeFlask.java
Owners: @Slimefun/code-reviewers

Push my WIP changes
  pom.xml
  src/main/java/io/github/thebusybiscuit/slimefun4/api/MinecraftVersion.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/OilResource.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/SaltResource.java
  src/test/java/io/github/thebusybiscuit/slimefun4/api/geo/TestResourceRegistration.java
Owners: @Slimefun/slimefun4-maintainers, @Slimefun/code-reviewers

generalize filled flask to hidden item
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/HiddenItem.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
Owners: @Slimefun/code-reviewers

Update dependency net.imprex:orebfuscator-api to v5
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Disable debug additions
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/SlimefunGuideOpenEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/attributes/RandomMobDrop.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/CargoUtils.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/ItemFilter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/SlimefunUtils.java
Owners: @Slimefun/code-reviewers

Update README.md
  README.md
Owners: none

only half working
  src/main/java/io/github/thebusybiscuit/slimefun4/core/attributes/HologramOwner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/CargoNet.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/energy/EnergyNet.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/services/holograms/HologramsService.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/blocks/HologramProjector.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/cargo/CargoManager.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/EnergyRegulator.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/reactors/NuclearReactor.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/reactors/Reactor.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/geo/GEOMiner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/tools/HologramController.java
Owners: @Slimefun/code-reviewers

slightly better than before
  src/main/java/io/github/thebusybiscuit/slimefun4/core/attributes/HologramOwner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/CargoNet.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/energy/EnergyNet.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/services/holograms/HologramsService.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/reactors/Reactor.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/geo/GEOMiner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/tools/HologramController.java
Owners: @Slimefun/code-reviewers

Made gps complexity compatible with negative y
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
Owners: @Slimefun/code-reviewers

First steps towards biome maps
  pom.xml
  src/main/java/io/github/thebusybiscuit/slimefun4/api/exceptions/BiomeMapException.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/SlimefunResource.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/PatternUtils.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMap.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMapParser.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/tags/TagParser.java
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/biomes/TestBiomeMapParser.java
Owners: @Slimefun/slimefun4-maintainers, @Slimefun/code-reviewers

Added more unit tests
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMap.java
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/biomes/TestBiomeMapParser.java
Owners: @Slimefun/code-reviewers

Added biome maps for existing resources
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/AbstractResource.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/NetherIceResource.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/OilResource.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/SaltResource.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/UraniumResource.java
  src/main/resources/biome-maps/nether_ice.json
  src/main/resources/biome-maps/oil.json
  src/main/resources/biome-maps/salt.json
  src/main/resources/biome-maps/uranium.json
Owners: @Slimefun/code-reviewers

Fixed unit test
  src/test/java/io/github/thebusybiscuit/slimefun4/api/geo/TestResourceRegistration.java
Owners: @Slimefun/code-reviewers

Updated changelog
  CHANGELOG.md
Owners: none

shhhh, this wasn't copy-pasted at all :eyes:
  src/main/java/io/github/thebusybiscuit/slimefun4/api/exceptions/BiomeMapException.java
Owners: @Slimefun/code-reviewers

Refactoring and documentation
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeDataConverter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMap.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMapParser.java
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/biomes/TestBiomeMap.java
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/biomes/TestBiomeMapParser.java
Owners: @Slimefun/code-reviewers

Added lenient parsing and more documentation
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMap.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMapParser.java
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/biomes/TestBiomeMap.java
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/biomes/TestBiomeMapParser.java
Owners: @Slimefun/code-reviewers

Added version compat tests
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/biomes/TestBiomeMapCompatibility.java
  src/test/resources/biomes/1.14.x.json
  src/test/resources/biomes/1.15.x.json
  src/test/resources/biomes/1.16.x.json
  src/test/resources/biomes/1.17.x.json
  src/test/resources/biomes/1.18.x.json
Owners: @Slimefun/code-reviewers

Updated Nether Ice biome map
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/NetherIceResource.java
  src/main/resources/biome-maps/nether_ice.1_16.json
  src/main/resources/biome-maps/nether_ice.json
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/biomes/TestBiomeMapCompatibility.java
Owners: @Slimefun/code-reviewers

Finished configuration
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/NetherIceResource.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/OilResource.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/SaltResource.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/UraniumResource.java
  src/main/resources/biome-maps/nether_ice_v1.14.json
  src/main/resources/biome-maps/nether_ice_v1.16.json
  src/main/resources/biome-maps/oil_v1.14.json
  src/main/resources/biome-maps/salt_v1.14.json
  src/main/resources/biome-maps/uranium.json
  src/main/resources/biome-maps/uranium_v1.14.json
  src/main/resources/biome-maps/uranium_v1.16.json
  src/main/resources/biome-maps/uranium_v1.17.json
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/biomes/TestBiomeMapCompatibility.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeDataConverter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeDataConverter.java
Owners: @Slimefun/code-reviewers

Apply suggestions from code review
  src/main/java/io/github/thebusybiscuit/slimefun4/api/exceptions/BiomeMapException.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/AbstractResource.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMap.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/utils/PatternUtils.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/PatternUtils.java
Owners: @Slimefun/code-reviewers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Added 1.18 biome-maps
  src/main/java/io/github/thebusybiscuit/slimefun4/api/MinecraftVersion.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/geo/ResourceManager.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/OilResource.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/SaltResource.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/resources/UraniumResource.java
  src/main/resources/biome-maps/oil_v1.18.json
  src/main/resources/biome-maps/salt_v1.18.json
  src/main/resources/biome-maps/uranium_v1.18.json
  src/test/java/io/github/thebusybiscuit/slimefun4/api/geo/TestResourceRegistration.java
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/biomes/TestBiomeMapCompatibility.java
Owners: @Slimefun/code-reviewers

Updated changelog and readme
  CHANGELOG.md
  README.md
Owners: none

.github/CODEOWNERS:

# Modifications to the source code should be handled by the code review team
*.java                             @Slimefun/code-reviewers

# Modifications to sensitive files should be reviewed by maintainers
/.github/                          @Slimefun/slimefun4-maintainers
pom.xml                            @Slimefun/slimefun4-maintainers
CONTRIBUTING.md                    @Slimefun/slimefun4-maintainers

# Changes to the Issue templates need to be checked by the triage team
/.github/ISSUE_TEMPLATE/           @Slimefun/bug-testers

# Our wiki lookup file will be reviewed by the wiki staff team
/src/main/resources/wiki.json      @Slimefun/wiki-staff

# This file is handled by TheBusyBiscuit (admins have overwrite access anyway)
/.github/CODEOWNERS                @TheBusyBiscuit
