Repository Slimefun/Slimefun4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Slimefun/code-reviewers, @Slimefun/slimefun4-maintainers, @Slimefun/bug-testers, @Slimefun/wiki-staff, @TheBusyBiscuit

.github/CODEOWNERS:

# Modifications to the source code should be handled by the code review team
*.java                             @Slimefun/code-reviewers

# Modifications to sensitive files should be reviewed by maintainers
/.github/                          @Slimefun/slimefun4-maintainers
pom.xml                            @Slimefun/slimefun4-maintainers
CONTRIBUTING.md                    @Slimefun/slimefun4-maintainers

# Changes to the Issue templates need to be checked by the triage team
/.github/ISSUE_TEMPLATE/           @Slimefun/bug-testers

# Our wiki lookup file will be reviewed by the wiki staff team
/src/main/resources/wiki.json      @Slimefun/wiki-staff

# This file is handled by TheBusyBiscuit (admins have overwrite access anyway)
/.github/CODEOWNERS                @TheBusyBiscuit

Update src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
Owners: @Slimefun/code-reviewers

Added locales, Removed redundant code, patched issue where whitelisted players could whitelist other players.
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/player/PlayerProfile.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/GroupActivationPlate.java
  src/main/resources/languages/en/messages.yml
Owners: @Slimefun/code-reviewers

[CI skip] Fixed javadocs
  src/main/java/io/github/thebusybiscuit/slimefun4/api/items/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/researches/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/attributes/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/handlers/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/services/UpdaterService.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/services/profiler/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/handlers/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/LimitedUseItem.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/VanillaItem.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/altar/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/androids/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/armor/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/backpacks/RestoredBackpack.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/blocks/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/cargo/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/gadgets/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/food/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/geo/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/gps/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/runes/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/talismans/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/medical/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/misc/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/tools/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/weapons/package-info.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/package-info.java
Owners: @Slimefun/code-reviewers

Removed * import
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
Owners: @Slimefun/code-reviewers

Fix smithing table listener on 1.15 and below
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
Owners: @Slimefun/code-reviewers

Filipino Language translation accuracy fixes
  src/main/resources/languages/tl/messages.yml
Owners: none

Make field static
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/talismans/Talisman.java
Owners: @Slimefun/code-reviewers

Update dependency com.konghq:unirest-java to v3.13.2
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Move to separate class
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BlockListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/MiddleClickListener.java
Owners: @Slimefun/code-reviewers

Fix typo
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BlockListener.java
Owners: @Slimefun/code-reviewers

Update dependency com.sk89q.worldedit:worldedit-bukkit to v7.2.7
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update dependency com.sk89q.worldedit:worldedit-core to v7.2.7
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update dependency com.github.LoneDev6:itemsadder-api to v2.4.20
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update changelog with PR #3326
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/talismans/Talisman.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/talismans/Talisman.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/talismans/Talisman.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/talismans/Talisman.java
Owners: @Slimefun/code-reviewers

Update src/main/resources/tags/gravity_affected_blocks.json
  src/main/resources/tags/gravity_affected_blocks.json
Owners: none

removed tabs
  src/main/resources/tags/gravity_affected_blocks.json
Owners: none

fixed values
  src/main/resources/tags/gravity_affected_blocks.json
Owners: none

fixed tags location
  src/main/resources/tags/gravity_affected_blocks.json
Owners: none

forgot to remove second anvil tag ;-;
  src/main/resources/tags/gravity_affected_blocks.json
Owners: none

forgot to remove second anvil tag ;-;
  src/main/resources/tags/gravity_affected_blocks.json
Owners: none

Update dependency com.konghq:unirest-java to v3.13.3
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Removed need for regex filtering
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/player/PlayerProfile.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/GroupActivationPlate.java
Owners: @Slimefun/code-reviewers

Owner no longer has to be online for the teleporter to work, user no longer needs to be online to add them to the whitelist
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/GroupActivationPlate.java
  src/main/resources/languages/en/messages.yml
Owners: @Slimefun/code-reviewers

Makes the owner unable to be removed from the whitelist
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/player/PlayerProfile.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/GroupActivationPlate.java
  src/main/resources/languages/en/messages.yml
Owners: @Slimefun/code-reviewers

Addes a message if you are not whitelisted and you attempt to use the teleporter
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/TeleporterListener.java
  src/main/resources/languages/en/messages.yml
Owners: @Slimefun/code-reviewers

improved performance when using teleporter and when whitelisting users by using async
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/GroupActivationPlate.java
Owners: @Slimefun/code-reviewers

improved performance when using teleporter and when whitelisting users by using async
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/GroupActivationPlate.java
Owners: @Slimefun/code-reviewers

fixed oversight, causing the whitelist teleporter plate to not work at all
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/GroupActivationPlate.java
Owners: @Slimefun/code-reviewers

Update actions/checkout action to v2.4.0
  .github/workflows/discord-webhook.yml
  .github/workflows/sonarcloud.yml
Owners: @Slimefun/slimefun4-maintainers

Added amethyst cluster to sensitive materials
  src/main/resources/tags/sensitive_materials.json
Owners: none

Update dependency com.github.LoneDev6:itemsadder-api to v2.4.21
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Added more sensitive materials
  src/main/resources/tags/sensitive_materials.json
Owners: none

refactor: adjust item entity store
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/altar/AncientPedestal.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/tasks/AncientPedestalTask.java
Owners: @Slimefun/code-reviewers

fix: unable to place item on some occasion
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/tasks/AncientAltarTask.java
Owners: @Slimefun/code-reviewers

block custom item insertion
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/cargo/AbstractFilterNode.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/CargoNodeListener.java
  src/main/resources/config.yml
  src/main/resources/languages/en/messages.yml
Owners: @Slimefun/code-reviewers

Fix config
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/cargo/AbstractFilterNode.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/CargoNodeListener.java
Owners: @Slimefun/code-reviewers

Revert "Block custom item insertion into cargo nodes"
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/cargo/AbstractFilterNode.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/CargoNodeListener.java
  src/main/resources/config.yml
  src/main/resources/languages/en/messages.yml
Owners: @Slimefun/code-reviewers
