Repository Slimefun/Slimefun4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Slimefun/code-reviewers, @Slimefun/slimefun4-maintainers, @Slimefun/bug-testers, @Slimefun/wiki-staff, @TheBusyBiscuit

No meta compare
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/CargoUtils.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/ItemFilter.java
  src/main/resources/config.yml
Owners: @Slimefun/code-reviewers

No meta compare
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/ItemFilter.java
Owners: @Slimefun/code-reviewers

Readd inventory blocking changes
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/cargo/AbstractFilterNode.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/CargoNodeListener.java
  src/main/resources/languages/en/messages.yml
Owners: @Slimefun/code-reviewers

Fixed inventory blocking
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/CargoNodeListener.java
Owners: @Slimefun/code-reviewers

Version name change
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update changelog
  CHANGELOG.md
Owners: none

Update changelog
  CHANGELOG.md
Owners: none

[CI skip] Updated changelog
  CHANGELOG.md
Owners: none

updated pressure plate tag
  src/main/resources/tags/pressure_plates.json
Owners: none

changed up the tag
  src/main/resources/tags/pressure_plates.json
Owners: none

Added Empowered Android Woodcutter
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
Owners: @Slimefun/code-reviewers

Added Empowered Android Woodcutter research
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/ResearchSetup.java
Owners: @Slimefun/code-reviewers

Added Empowered Android Woodcutter
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/SlimefunItems.java
Owners: @Slimefun/code-reviewers

Empowered Android Woodcutter research translation
  src/main/resources/languages/en/researches.yml
Owners: none

Update dependency org.sonarsource.scanner.maven:sonar-maven-plugin to v3.9.1.2184
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update README.md
  README.md
Owners: none

added FireStaff.java and function to it
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/SlimefunItems.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/FireStaff.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/tags/SlimefunTag.java
  src/main/resources/tags/gravity_affected_blocks.json
Owners: @Slimefun/code-reviewers

fixed imports location
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/SlimefunItems.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
Owners: @Slimefun/code-reviewers

recoded after jeff's reviews
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/SlimefunItems.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/FireStaff.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/StormStaff.java
Owners: @Slimefun/code-reviewers

relocated imports
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/SlimefunItems.java
Owners: @Slimefun/code-reviewers

just functions, i will change the names later
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/ElectricDustWasher.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/ElectricIngotPulverizer.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/OreCrusher.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/OreWasher.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/PostSetup.java
  src/main/resources/config.yml
Owners: @Slimefun/code-reviewers

I should rebase my main for this :notLikeThis:
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/tags/SlimefunTag.java
  src/main/resources/tags/gravity_affected_blocks.json
Owners: @Slimefun/code-reviewers

Added Advanced Programmable Android (Woodcutter)
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/SlimefunItems.java
Owners: @Slimefun/code-reviewers

Added Advanced Android Woodcutter research
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/ResearchSetup.java
Owners: @Slimefun/code-reviewers

Added Advanced Android Woodcutter
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
Owners: @Slimefun/code-reviewers

Advanced Android Woodcutter research translation
  src/main/resources/languages/en/researches.yml
Owners: none

Update dependency org.mockito:mockito-core to v4.1.0
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update dependency com.konghq:unirest-java to v3.13.4
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Fix indus miner
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/IndustrialMiner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/MiningTask.java
Owners: @Slimefun/code-reviewers

Miners, mine!
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/AndroidMineEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/androids/MinerAndroid.java
Owners: @Slimefun/code-reviewers

Update dependency io.papermc:paperlib to v1.0.7
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Added option (called dont-need-research-to-use) to allow slimefun items (with the exception of multiblocks) to be used without needing to research them but still need research to make them
  src/main/java/io/github/thebusybiscuit/slimefun4/api/items/SlimefunItem.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/multiblocks/MultiBlockMachine.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/guide/SurvivalSlimefunGuide.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/autocrafters/SlimefunAutoCrafter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/runes/EnchantmentRune.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/runes/SoulboundRune.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/talismans/Talisman.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/AncientAltarListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BackpackListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BeeWingsListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BlockListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/CoolerListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/ElytraImpactListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/GadgetsListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/SlimefunBootsListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/SlimefunItemConsumeListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/SlimefunItemHitListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/SlimefunItemInteractListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/TeleporterListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/entity/EntityInteractionListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/entity/MobDropListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/tasks/ArmorTask.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/SlimefunUtils.java
  src/main/resources/config.yml
Owners: @Slimefun/code-reviewers

Fix ghost blocks
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/androids/MinerAndroid.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/MiningTask.java
Owners: @Slimefun/code-reviewers

Doc
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/AndroidMineEvent.java
Owners: @Slimefun/code-reviewers

Changed dont-need-research-to-use to require-research-on-use and flipped the value for easier reading
  src/main/java/io/github/thebusybiscuit/slimefun4/api/items/SlimefunItem.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/SlimefunUtils.java
  src/main/resources/config.yml
Owners: @Slimefun/code-reviewers

Do requested changes
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/ElectricGoldPan.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/AutomatedPanningMachine.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/tools/GoldPan.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/tools/NetherGoldPan.java
Owners: @Slimefun/code-reviewers

Fixed comment to match new value of require-research-on-use
  src/main/java/io/github/thebusybiscuit/slimefun4/api/items/SlimefunItem.java
Owners: @Slimefun/code-reviewers

svr's elevation of me
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/AndroidMineEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/androids/MinerAndroid.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/IndustrialMiner.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/miner/MiningTask.java
Owners: @Slimefun/code-reviewers

Updated comment for new require-research-on-use
  src/main/java/io/github/thebusybiscuit/slimefun4/api/items/SlimefunItem.java
Owners: @Slimefun/code-reviewers

Stops FluidPump from removing water - lower TPS can cause this to not refill and break the pumps.
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/FluidPump.java
Owners: @Slimefun/code-reviewers

.github/CODEOWNERS:

# Modifications to the source code should be handled by the code review team
*.java                             @Slimefun/code-reviewers

# Modifications to sensitive files should be reviewed by maintainers
/.github/                          @Slimefun/slimefun4-maintainers
pom.xml                            @Slimefun/slimefun4-maintainers
CONTRIBUTING.md                    @Slimefun/slimefun4-maintainers

# Changes to the Issue templates need to be checked by the triage team
/.github/ISSUE_TEMPLATE/           @Slimefun/bug-testers

# Our wiki lookup file will be reviewed by the wiki staff team
/src/main/resources/wiki.json      @Slimefun/wiki-staff

# This file is handled by TheBusyBiscuit (admins have overwrite access anyway)
/.github/CODEOWNERS                @TheBusyBiscuit
