Repository Slimefun/Slimefun4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Slimefun/code-reviewers, @Slimefun/slimefun4-maintainers, @Slimefun/bug-testers, @Slimefun/wiki-staff, @TheBusyBiscuit

Removed unused recipe from GrindStone
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/multiblocks/GrindStone.java
Owners: @Slimefun/code-reviewers

Disable backups by default.
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
Owners: @Slimefun/code-reviewers

More docs
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/DataObject.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/NamedKey.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/Storage.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/BinaryUtils.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/transformer/Transformer.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/transformer/UuidTransformer.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/type/Type.java
Owners: @Slimefun/code-reviewers

Added toggle to data zip backup
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
  src/main/resources/config.yml
Owners: @Slimefun/code-reviewers

Updated changelog
  CHANGELOG.md
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
Owners: @Slimefun/code-reviewers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Revert requested change as it breaks it :NotLikeThis:
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
Owners: @Slimefun/code-reviewers

Update actions/checkout action to v2.3.5
  .github/workflows/discord-webhook.yml
  .github/workflows/sonarcloud.yml
Owners: @Slimefun/slimefun4-maintainers

Added Some essential files for the Group teleporter
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/player/PlayerProfile.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/SlimefunItems.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/AbstractTeleporterPlate.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/GroupActivationPlate.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/SharedActivationPlate.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/ResearchSetup.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/tasks/SlimefunStartupTask.java
  src/main/resources/wiki.json
Owners: @Slimefun/code-reviewers, @Slimefun/wiki-staff

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Last BinaryUtils docs
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/BinaryUtils.java
Owners: @Slimefun/code-reviewers

Added Some more essential files for the Group teleporter
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/player/PlayerProfile.java
Owners: @Slimefun/code-reviewers

Should be working now, testing will be needing to be done first
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/player/PlayerProfile.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/GroupActivationPlate.java
Owners: @Slimefun/code-reviewers

Got it fully working, still a few bugs to be patched
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/player/PlayerProfile.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/GroupActivationPlate.java
Owners: @Slimefun/code-reviewers

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Added GPS_ACTIVATION_PLATE_GROUP which uses a owner configurable whitelist
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/player/PlayerProfile.java
Owners: @Slimefun/code-reviewers

Update README.md
  README.md
Owners: none

Added some documentation
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/GroupActivationPlate.java
Owners: @Slimefun/code-reviewers

Added more documentation and added //NEEDINGTRANSLATION to p.sendMessages that needs translations added as well as added the prefix
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/teleporter/GroupActivationPlate.java
Owners: @Slimefun/code-reviewers

Update GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
Owners: @Slimefun/code-reviewers

Update GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/events/WhitelistCreateEvent.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/GPSNetwork.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/gps/Whitelist.java
Owners: @Slimefun/code-reviewers

.github/CODEOWNERS:

# Modifications to the source code should be handled by the code review team
*.java                             @Slimefun/code-reviewers

# Modifications to sensitive files should be reviewed by maintainers
/.github/                          @Slimefun/slimefun4-maintainers
pom.xml                            @Slimefun/slimefun4-maintainers
CONTRIBUTING.md                    @Slimefun/slimefun4-maintainers

# Changes to the Issue templates need to be checked by the triage team
/.github/ISSUE_TEMPLATE/           @Slimefun/bug-testers

# Our wiki lookup file will be reviewed by the wiki staff team
/src/main/resources/wiki.json      @Slimefun/wiki-staff

# This file is handled by TheBusyBiscuit (admins have overwrite access anyway)
/.github/CODEOWNERS                @TheBusyBiscuit
