Repository Slimefun/Slimefun4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Slimefun/code-reviewers, @Slimefun/slimefun4-maintainers, @Slimefun/bug-testers, @Slimefun/wiki-staff, @TheBusyBiscuit

Update dependency com.gmail.nossr50.mcMMO:mcMMO to v2.1.209
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

New translations recipes.yml (Italian)
  src/main/resources/languages/it/recipes.yml
Owners: none

Removed ChestTerminal support
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/AbstractItemNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/CargoNet.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/CargoNetworkTask.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/ItemRequest.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/cargo/AbstractCargoNode.java
  src/main/java/io/github/thebusybiscuit/slimefun4/integrations/IntegrationsManager.java
Owners: @Slimefun/code-reviewers

Added a new fromJson method with isLenient parameter
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMap.java
Owners: @Slimefun/code-reviewers

[CI skip] Updated changelog
  CHANGELOG.md
Owners: none

added vanilla transformation to ice
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/Freezer.java
Owners: @Slimefun/code-reviewers

fixed imports
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/Freezer.java
Owners: @Slimefun/code-reviewers

formatting where?
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/Freezer.java
Owners: @Slimefun/code-reviewers

formatting where?
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/Freezer.java
Owners: @Slimefun/code-reviewers

you are a dog
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/Freezer.java
Owners: @Slimefun/code-reviewers

did requested changes
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/Freezer.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/Freezer.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/Freezer.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/Freezer.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/Freezer.java
Owners: @Slimefun/code-reviewers

New translations messages.yml (Arabic)
  src/main/resources/languages/ar/messages.yml
Owners: none

[CI skip] Updated changelog
  CHANGELOG.md
Owners: none

New translations messages.yml (Chinese Simplified)
  src/main/resources/languages/zh-CN/messages.yml
Owners: none

Added `PlayerProfile#hasUnlockedEverything()`
  .github/workflows/discord-webhook.yml
  .github/workflows/json-validator.yml
  .github/workflows/maven-compiler.yml
  .github/workflows/sonarcloud.yml
  CHANGELOG.md
  src/main/java/io/github/thebusybiscuit/slimefun4/api/player/PlayerProfile.java
Owners: @Slimefun/slimefun4-maintainers, @Slimefun/code-reviewers

Update dependency com.github.seeseemelk:MockBukkit-v1.18 to v1.15.5
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

[CI skip] Uninitialized ItemSettings will now cause test failures
  src/main/java/io/github/thebusybiscuit/slimefun4/api/items/ItemSetting.java
Owners: @Slimefun/code-reviewers

Fixed #3429
  CHANGELOG.md
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/Freezer.java
  src/main/java/me/mrCookieSlime/Slimefun/Objects/SlimefunItem/abstractItems/AContainer.java
Owners: @Slimefun/code-reviewers

Fixed unit tests
  src/test/java/io/github/thebusybiscuit/slimefun4/utils/TestSoulboundItem.java
Owners: @Slimefun/code-reviewers

Update dependency io.github.baked-libs:dough-api to v1.1.2
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Update dough
  CHANGELOG.md
  pom.xml
  src/main/java/io/github/thebusybiscuit/slimefun4/integrations/IntegrationsManager.java
Owners: @Slimefun/slimefun4-maintainers, @Slimefun/code-reviewers

Fixed changelog
  CHANGELOG.md
Owners: none

New translations messages.yml (Thai)
  src/main/resources/languages/th/messages.yml
Owners: none

New translations messages.yml (Hebrew)
  src/main/resources/languages/he/messages.yml
Owners: none

New translations messages.yml (Japanese)
  src/main/resources/languages/ja/messages.yml
Owners: none

New translations messages.yml (Indonesian)
  src/main/resources/languages/id/messages.yml
Owners: none

New translations messages.yml (Vietnamese)
  src/main/resources/languages/vi/messages.yml
Owners: none

New translations messages.yml (Portuguese, Brazilian)
  src/main/resources/languages/pt-BR/messages.yml
Owners: none

New translations messages.yml (Polish)
  src/main/resources/languages/pl/messages.yml
Owners: none

New translations messages.yml (Ukrainian)
  src/main/resources/languages/uk/messages.yml
Owners: none

New translations messages.yml (Bulgarian)
  src/main/resources/languages/bg/messages.yml
Owners: none

New translations messages.yml (Czech)
  src/main/resources/languages/cs/messages.yml
Owners: none

New translations messages.yml (Korean)
  src/main/resources/languages/ko/messages.yml
Owners: none

New translations messages.yml (Turkish)
  src/main/resources/languages/tr/messages.yml
Owners: none

New translations messages.yml (Dutch)
  src/main/resources/languages/nl/messages.yml
Owners: none

New translations messages.yml (Russian)
  src/main/resources/languages/ru/messages.yml
Owners: none

New translations messages.yml (Slovak)
  src/main/resources/languages/sk/messages.yml
Owners: none

New translations messages.yml (Swedish)
  src/main/resources/languages/sv/messages.yml
Owners: none

.github/CODEOWNERS:

# Modifications to the source code should be handled by the code review team
*.java                             @Slimefun/code-reviewers

# Modifications to sensitive files should be reviewed by maintainers
/.github/                          @Slimefun/slimefun4-maintainers
pom.xml                            @Slimefun/slimefun4-maintainers
CONTRIBUTING.md                    @Slimefun/slimefun4-maintainers

# Changes to the Issue templates need to be checked by the triage team
/.github/ISSUE_TEMPLATE/           @Slimefun/bug-testers

# Our wiki lookup file will be reviewed by the wiki staff team
/src/main/resources/wiki.json      @Slimefun/wiki-staff

# This file is handled by TheBusyBiscuit (admins have overwrite access anyway)
/.github/CODEOWNERS                @TheBusyBiscuit
