Repository Slimefun/Slimefun4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Slimefun/code-reviewers, @Slimefun/slimefun4-maintainers, @Slimefun/bug-testers, @Slimefun/wiki-staff, @TheBusyBiscuit

.github/CODEOWNERS:

# Modifications to the source code should be handled by the code review team
*.java                             @Slimefun/code-reviewers

# Modifications to sensitive files should be reviewed by maintainers
/.github/                          @Slimefun/slimefun4-maintainers
pom.xml                            @Slimefun/slimefun4-maintainers
CONTRIBUTING.md                    @Slimefun/slimefun4-maintainers

# Changes to the Issue templates need to be checked by the triage team
/.github/ISSUE_TEMPLATE/           @Slimefun/bug-testers

# Our wiki lookup file will be reviewed by the wiki staff team
/src/main/resources/wiki.json      @Slimefun/wiki-staff

# This file is handled by TheBusyBiscuit (admins have overwrite access anyway)
/.github/CODEOWNERS                @TheBusyBiscuit

Bit of cleanup
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/BinaryUtils.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/BinaryWriter.java
Owners: @Slimefun/code-reviewers

[CI skip] Updated changelog
  CHANGELOG.md
Owners: none

Fixes for #3260 and removal of unnecesary parameter of method.
  src/main/java/io/github/thebusybiscuit/slimefun4/core/attributes/EnergyNetComponent.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/energy/EnergyNet.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/autocrafters/AbstractAutoCrafter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/EnergyRegulator.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/entities/AbstractEntityAssembler.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/gps/GPSTransmitter.java
  src/main/java/me/mrCookieSlime/Slimefun/Objects/SlimefunItem/abstractItems/AGenerator.java
Owners: @Slimefun/code-reviewers

Lots of docs and stuff
  src/main/java/io/github/thebusybiscuit/slimefun4/core/commands/subcommands/DebugCommand.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/Debug.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/TestCase.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/TestMode.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/CargoUtils.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/ItemFilter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/SlimefunUtils.java
Owners: @Slimefun/code-reviewers

Missing author tags
  src/main/java/io/github/thebusybiscuit/slimefun4/core/commands/subcommands/DebugCommand.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/Debug.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/TestCase.java
Owners: @Slimefun/code-reviewers

Added some comments
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/Debug.java
Owners: @Slimefun/code-reviewers

Remove redundant line
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/talismans/Talisman.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BlockListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BlockListener.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BlockListener.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/BlockListener.java
Owners: @Slimefun/code-reviewers

Add as setting
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/generators/SolarGenerator.java
Owners: @Slimefun/code-reviewers

Apply suggestions from code review
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/Debug.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/TestCase.java
Owners: @Slimefun/code-reviewers

Add perm to plugin.yml
  src/main/resources/plugin.yml
Owners: none

[CI skip] Updated changelog
  CHANGELOG.md
Owners: none

added GRAVITY_AFFECTED_BLOCKS tag
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/tags/SlimefunTag.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/tags/TagParser.java
  src/main/resources/tags/gravity_affected_blocks.json
Owners: @Slimefun/code-reviewers

Changes
  src/main/java/io/github/thebusybiscuit/slimefun4/core/commands/subcommands/DebugCommand.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/Debug.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/TestCase.java
  src/main/resources/languages/en/messages.yml
Owners: @Slimefun/code-reviewers

Add "disable" to tab complete
  src/main/java/io/github/thebusybiscuit/slimefun4/core/commands/SlimefunTabCompleter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/commands/subcommands/DebugCommand.java
Owners: @Slimefun/code-reviewers

adding gravity_affected_blocks.json and adding "GRAVITY_AFFECTED_BLOCKS" into SlimefunTag.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/tags/SlimefunTag.java
  src/main/resources/tags/gravity_affected_blocks.json
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/utils/tags/SlimefunTag.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/tags/SlimefunTag.java
Owners: @Slimefun/code-reviewers

adding gravity_affected_blocks.json and adding "GRAVITY_AFFECTED_BLOCKS" into SlimefunTag.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/tags/SlimefunTag.java
  src/main/resources/tags/gravity_affected_blocks.json
Owners: @Slimefun/code-reviewers

adding gravity_affected_blocks.json and adding "GRAVITY_AFFECTED_BLOCKS" into SlimefunTag.java
  src/main/resources/tags/gravity_affected_blocks.json
Owners: none

Update ibiqlik/action-yamllint action to v3.1.0
  .github/workflows/yaml-linter.yml
Owners: @Slimefun/slimefun4-maintainers

Improved message and removed tab completion
  src/main/java/io/github/thebusybiscuit/slimefun4/core/commands/SlimefunTabCompleter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/commands/subcommands/DebugCommand.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/package-info.java
  src/main/resources/languages/en/messages.yml
Owners: @Slimefun/code-reviewers

Fix import
  src/main/java/io/github/thebusybiscuit/slimefun4/core/commands/SlimefunTabCompleter.java
Owners: @Slimefun/code-reviewers

Update src/main/java/io/github/thebusybiscuit/slimefun4/utils/tags/SlimefunTag.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/tags/SlimefunTag.java
Owners: @Slimefun/code-reviewers

peepoPog wow
  src/main/java/io/github/thebusybiscuit/slimefun4/core/commands/subcommands/DebugCommand.java
  src/main/resources/languages/en/messages.yml
Owners: @Slimefun/code-reviewers

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

New translations messages.yml (Hungarian)
  src/main/resources/languages/hu/messages.yml
Owners: none

Implement compression types
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/Test.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/BinaryWriter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/CompressionType.java
Owners: @Slimefun/code-reviewers

Replace NamespacedKey with NamedKey
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/DataObject.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/NamedKey.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/Test.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/BinaryUtils.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/BinaryWriter.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/transformer/Transformer.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/transformer/UuidTransformer.java
Owners: @Slimefun/code-reviewers

Some formatting
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/DataObject.java
Owners: @Slimefun/code-reviewers

Better name
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/Test.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/CompressionType.java
Owners: @Slimefun/code-reviewers

Fix hashcode
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/NamedKey.java
  test.dat
Owners: @Slimefun/code-reviewers

Compression type find
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/CompressionType.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/RegionFile.java
Owners: @Slimefun/code-reviewers

need to change branch
  .gitignore
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/RegionFile.java
Owners: @Slimefun/code-reviewers

Region file work
  src/main/java/io/github/thebusybiscuit/slimefun4/core/debug/TestCase.java
  src/main/java/io/github/thebusybiscuit/slimefun4/storage/implementation/binary/RegionFile.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/IntPair.java
Owners: @Slimefun/code-reviewers

New translations messages.yml (French)
  src/main/resources/languages/fr/messages.yml
Owners: none

New translations messages.yml (Chinese Simplified)
  src/main/resources/languages/zh-CN/messages.yml
Owners: none

Update dependency com.github.LoneDev6:itemsadder-api to v2.4.8
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Recipe fix
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
Owners: @Slimefun/code-reviewers

Updated changelog
  CHANGELOG.md
Owners: none
