Repository Slimefun/Slimefun4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Slimefun/code-reviewers, @Slimefun/slimefun4-maintainers, @Slimefun/bug-testers, @Slimefun/wiki-staff, @TheBusyBiscuit

Fixed android movement below y=0
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/androids/ProgrammableAndroid.java
Owners: @Slimefun/code-reviewers

Fixes #3385
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/androids/ProgrammableAndroid.java
Owners: @Slimefun/code-reviewers

Fixed import order
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/androids/ProgrammableAndroid.java
Owners: @Slimefun/code-reviewers

Typo
  src/main/java/io/github/thebusybiscuit/slimefun4/core/attributes/DistinctiveItem.java
Owners: @Slimefun/code-reviewers

call getItemData once only
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/SlimefunUtils.java
Owners: @Slimefun/code-reviewers

fix(pedestal): use entity UUID to avoid entity inconsistent
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/altar/AncientPedestal.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/tasks/AncientPedestalTask.java
Owners: @Slimefun/code-reviewers

Applying feedback
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/SlimefunUtils.java
Owners: @Slimefun/code-reviewers

[CI skip] Updated changelog
  CHANGELOG.md
Owners: none

Update dependency me.clip:placeholderapi to v2.11.1
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

New translations messages.yml (Hungarian)
  src/main/resources/languages/hu/messages.yml
Owners: none

New translations messages.yml (Korean)
  src/main/resources/languages/ko/messages.yml
Owners: none

lol
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
Owners: @Slimefun/code-reviewers

[CI skip] Updated changelog
  CHANGELOG.md
Owners: none

Add 1.18.x version to bug report
  .github/ISSUE_TEMPLATE/bug-report.yaml
Owners: @Slimefun/bug-testers

Update dependency com.gmail.nossr50.mcMMO:mcMMO to v2.1.207
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

New translations messages.yml (Spanish)
  src/main/resources/languages/es/messages.yml
Owners: none

wiki feature
  src/main/java/io/github/thebusybiscuit/slimefun4/api/SlimefunAddon.java
  src/main/java/io/github/thebusybiscuit/slimefun4/api/items/SlimefunItem.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/Slimefun.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/talismans/Talisman.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/PostSetup.java
  src/test/java/io/github/thebusybiscuit/slimefun4/implementation/items/TestSlimefunItem.java
Owners: @Slimefun/code-reviewers

optimize import
  src/main/java/io/github/thebusybiscuit/slimefun4/api/SlimefunAddon.java
Owners: @Slimefun/code-reviewers

null check
  src/main/java/io/github/thebusybiscuit/slimefun4/api/items/SlimefunItem.java
Owners: @Slimefun/code-reviewers

wiki setup
  src/main/java/io/github/thebusybiscuit/slimefun4/api/setup/WikiSetup.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/PostSetup.java
Owners: @Slimefun/code-reviewers

change message
  src/main/java/io/github/thebusybiscuit/slimefun4/api/setup/WikiSetup.java
Owners: @Slimefun/code-reviewers

documents
  src/main/java/io/github/thebusybiscuit/slimefun4/api/setup/WikiSetup.java
Owners: @Slimefun/code-reviewers

deprecated methods
  src/main/java/io/github/thebusybiscuit/slimefun4/api/setup/WikiSetup.java
Owners: @Slimefun/code-reviewers

[CI skip] You didn't see anything :eyes:
  CHANGELOG.md
Owners: none

Fixed #3390
  CHANGELOG.md
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/machines/AutoBrewer.java
Owners: @Slimefun/code-reviewers

Cargo now does not stack custom items
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/AbstractItemNetwork.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/CargoNetworkTask.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/networks/cargo/CargoUtils.java
Owners: @Slimefun/code-reviewers

Fixed #3368
  CHANGELOG.md
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/ResearchSetup.java
  src/test/java/io/github/thebusybiscuit/slimefun4/core/researching/TestResearchSetup.java
  src/test/java/io/github/thebusybiscuit/slimefun4/implementation/registration/TestRegistration.java
Owners: @Slimefun/code-reviewers

Added Armored Jetpack recipe (resolves #1315)
  CHANGELOG.md
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/SlimefunItems.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
Owners: @Slimefun/code-reviewers

Update dependency net.imprex:orebfuscator-api to v5.2.2
  pom.xml
Owners: @Slimefun/slimefun4-maintainers

Some boring refactoring work
  src/main/java/io/github/thebusybiscuit/slimefun4/core/services/PermissionsService.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/services/github/TranslatorsReader.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/tools/TapeMeasure.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/DefaultItemGroups.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/PostSetup.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/RickFlexGroup.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/JsonUtils.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/biomes/BiomeMapParser.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/tags/TagParser.java
  src/main/java/me/mrCookieSlime/CSCoreLibPlugin/Configuration/Config.java
Owners: @Slimefun/code-reviewers

Refactor MiddleClickListener
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/MiddleClickListener.java
Owners: @Slimefun/code-reviewers

Invert if statement
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/MiddleClickListener.java
Owners: @Slimefun/code-reviewers

Add fuel types to BioGenerator
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/generators/BioGenerator.java
Owners: @Slimefun/code-reviewers

Added 1.17 items and blocks
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/electric/generators/BioGenerator.java
Owners: @Slimefun/code-reviewers

Fixed #3400
  CHANGELOG.md
  src/main/java/io/github/thebusybiscuit/slimefun4/core/services/LocalizationService.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/services/github/GitHubService.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/services/localization/SlimefunLocalization.java
  src/main/java/io/github/thebusybiscuit/slimefun4/utils/PatternUtils.java
Owners: @Slimefun/code-reviewers

Fixed unit test
  src/test/java/io/github/thebusybiscuit/slimefun4/implementation/registration/TestRegistration.java
Owners: @Slimefun/code-reviewers

Added FireStaff as a class and gave it a primitive feature
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/SlimefunItems.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/FireStaff.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
Owners: @Slimefun/code-reviewers

Minor tweaks
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/listeners/MiddleClickListener.java
Owners: @Slimefun/code-reviewers

fixed setup and added panda's suggest
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/items/magical/staves/FireStaff.java
  src/main/java/io/github/thebusybiscuit/slimefun4/implementation/setup/SlimefunItemSetup.java
Owners: @Slimefun/code-reviewers

switch statement
  src/main/java/io/github/thebusybiscuit/slimefun4/core/commands/subcommands/TimingsCommand.java
  src/main/java/io/github/thebusybiscuit/slimefun4/core/services/profiler/SummaryOrderType.java
Owners: @Slimefun/code-reviewers

.github/CODEOWNERS:

# Modifications to the source code should be handled by the code review team
*.java                             @Slimefun/code-reviewers

# Modifications to sensitive files should be reviewed by maintainers
/.github/                          @Slimefun/slimefun4-maintainers
pom.xml                            @Slimefun/slimefun4-maintainers
CONTRIBUTING.md                    @Slimefun/slimefun4-maintainers

# Changes to the Issue templates need to be checked by the triage team
/.github/ISSUE_TEMPLATE/           @Slimefun/bug-testers

# Our wiki lookup file will be reviewed by the wiki staff team
/src/main/resources/wiki.json      @Slimefun/wiki-staff

# This file is handled by TheBusyBiscuit (admins have overwrite access anyway)
/.github/CODEOWNERS                @TheBusyBiscuit
